<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Monitoring</h1>
        <ul class="pull-right breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li>Administration</li>
            <li class="active">Monitoring</li>
        </ul>
    </div>
</div>
<div class="container content">

    <h3>JVM Metrics</h3>

    <div class="row">
        <div class="col-md-4">
            <b>Memory</b>

            <p>Total Memory ({{metrics.data.gauges['jvm.memory.total.used'].value / 1000000 |
                number:0}}M / {{metrics.data.gauges['jvm.memory.total.max'].value / 1000000 | number:0}})</p>

            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="{{metrics.data.gauges['jvm.memory.total.used'].value / 1000000 | number:0}}"
                     aria-valuemin="0"
                     aria-valuemax="{{metrics.data.gauges['jvm.memory.total.max'].value / 1000000 | number:0}}"
                     ng-style="{width: (metrics.data.gauges['jvm.memory.total.used'].value * 100 / metrics.data.gauges['jvm.memory.total.max'].value | number:0) + '%'}">
                    {{metrics.data.gauges['jvm.memory.total.used'].value * 100 /
                    metrics.data.gauges['jvm.memory.total.max'].value
                    | number:0}}%
                </div>
            </div>
            <p>Heap Memory ({{metrics.data.gauges['jvm.memory.heap.used'].value / 1000000 |
                number:0}}M / {{metrics.data.gauges['jvm.memory.heap.max'].value / 1000000 | number:0}})</p>

            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="{{metrics.data.gauges['jvm.memory.heap.used'].value / 1000000 | number:0}}"
                     aria-valuemin="0"
                     aria-valuemax="{{metrics.data.gauges['jvm.memory.heap.max'].value / 1000000 | number:0}}"
                     ng-style="{width: (metrics.data.gauges['jvm.memory.heap.usage'].value * 100 | number:0) + '%'}">
                    {{(metrics.data.gauges['jvm.memory.heap.usage'].value * 100 | number:0)}}%
                </div>
            </div>
            <p>Non Heap Memory ({{metrics.data.gauges['jvm.memory.non-heap.used'].value /
                1000000 | number:0}}M / {{metrics.data.gauges['jvm.memory.non-heap.committed'].value / 1000000 |
                number:0}})</p>

            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="{{metrics.data.gauges['jvm.memory.non-heap.used'].value / 1000000 | number:0}}"
                     aria-valuemin="0"
                     aria-valuemax="{{metrics.data.gauges['jvm.memory.non-heap.committed'].value / 1000000 | number:0}}"
                     ng-style="{width: (metrics.data.gauges['jvm.memory.non-heap.committed'].value / 1000000 | number:0) + '%'}">
                    {{(metrics.data.gauges['jvm.memory.non-heap.used'].value * 100 /
                    metrics.data.gauges['jvm.memory.non-heap.committed'].value | number:0)}}%
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <b>Threads</b> (Total: {{metrics.data.gauges['jvm.threads.count'].value}})
            <a class="hand" data-toggle="modal" data-target="#threadDump"><i
                    class="glyphicon glyphicon-eye-open"></i></a>

            <p>Runnable {{metrics.data.gauges['jvm.threads.runnable.count'].value}}</p>

            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="{{metrics.data.gauges['jvm.threads.runnable.count'].value}}"
                     aria-valuemin="0"
                     aria-valuemax="{{metrics.data.gauges['jvm.threads.count'].value}}"
                     ng-style="{width: (metrics.data.gauges['jvm.threads.runnable.count'].value * 100 / metrics.data.gauges['jvm.threads.count'].value | number:0) + '%'}">
                    {{metrics.data.gauges['jvm.threads.runnable.count'].value * 100 /
                    metrics.data.gauges['jvm.threads.count'].value | number:0}}%
                </div>
            </div>
            <p>Timed waiting {{metrics.data.gauges['jvm.threads.timed_waiting.count'].value}}</p>

            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-warning" role="progressbar"
                     aria-valuenow="{{metrics.data.gauges['jvm.threads.timed_waiting.count'].value}}"
                     aria-valuemin="0"
                     aria-valuemax="{{metrics.data.gauges['jvm.threads.count'].value}}"
                     ng-style="{width: (metrics.data.gauges['jvm.threads.timed_waiting.count'].value * 100 / metrics.data.gauges['jvm.threads.count'].value | number:0) + '%'}">
                    {{metrics.data.gauges['jvm.threads.timed_waiting.count'].value * 100 /
                    metrics.data.gauges['jvm.threads.count'].value | number:0}}%
                </div>
            </div>
            <p>Waiting {{metrics.data.gauges['jvm.threads.waiting.count'].value}}</p>

            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-warning" role="progressbar"
                     aria-valuenow="{{metrics.data.gauges['jvm.threads.waiting.count'].value}}"
                     aria-valuemin="0"
                     aria-valuemax="{{metrics.data.gauges['jvm.threads.count'].value}}"
                     ng-style="{width: (metrics.data.gauges['jvm.threads.waiting.count'].value * 100 / metrics.data.gauges['jvm.threads.count'].value | number:0) + '%'}">
                    {{metrics.data.gauges['jvm.threads.waiting.count'].value * 100 /
                    metrics.data.gauges['jvm.threads.count'].value | number:0}}%
                </div>
            </div>
            <p>Blocked {{metrics.data.gauges['jvm.threads.blocked.count'].value}}</p>

            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-danger" role="progressbar"
                     aria-valuenow="{{metrics.data.gauges['jvm.threads.blocked.count'].value}}"
                     aria-valuemin="0"
                     aria-valuemax="{{metrics.data.gauges['jvm.threads.count'].value}}"
                     ng-style="{width: (metrics.data.gauges['jvm.threads.blocked.count'].value * 100 / metrics.data.gauges['jvm.threads.count'].value | number:0) + '%'}">
                    {{metrics.data.gauges['jvm.threads.blocked.count'].value * 100 /
                    metrics.data.gauges['jvm.threads.count'].value | number:0}}%
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <b>Garbage collections</b>

            <div class="row">
                <div class="col-md-9">Mark Sweep count</div>
                <div class="col-md-3 text-right">{{metrics.data.gauges['jvm.garbage.PS-MarkSweep.count'].value}}</div>
            </div>
            <div class="row">
                <div class="col-md-9">Mark Sweep time</div>
                <div class="col-md-3 text-right">{{metrics.data.gauges['jvm.garbage.PS-MarkSweep.time'].value}}ms</div>
            </div>
            <div class="row">
                <div class="col-md-9">Scavenge count</div>
                <div class="col-md-3 text-right">{{metrics.data.gauges['jvm.garbage.PS-Scavenge.count'].value}}</div>
            </div>
            <div class="row">
                <div class="col-md-9">Scavenge time</div>
                <div class="col-md-3 text-right">{{metrics.data.gauges['jvm.garbage.PS-Scavenge.time'].value}}ms</div>
            </div>
        </div>
    </div>

    <h3>HTTP requests (events per second)</h3>

    <p>Active requests
        <b>{{metrics.data.counters['com.codahale.metrics.servlet.InstrumentedFilter.activeRequests'].count |
            number:0}}</b>
        - Total requests <b>{{metrics.data.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count |
            number:0}}</b></p>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Code</th>
                <th>Count</th>
                <th class="text-right">Mean</th>
                <th class="text-right">Average (1 min)</th>
                <th class="text-right">Average (5 min)</th>
                <th class="text-right">Average (15 min)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>OK</td>
                <td>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="{{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].count * 100 / metrics.data.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count}}"
                             aria-valuemin="0"
                             aria-valuemax="{{metrics.data.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count}}"
                             ng-style="{width: ((metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].count * 100 / metrics.data.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count) | number:0) + '%'}">
                            {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].count}}
                        </div>
                    </div>
                </td>
                <td class="text-right">
                    {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].mean_rate
                    |
                    number:2}}
                </td>
                <td class="text-right">
                    {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].m1_rate
                    |
                    number:2}}
                </td>
                <td class="text-right">
                    {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].m5_rate
                    |
                    number:2}}
                </td>
                <td class="text-right">
                    {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].m15_rate
                    |
                    number:2}}
                </td>
            </tr>
            <tr>
                <td>Not Found</td>
                <td>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-warning" role="progressbar"
                             aria-valuenow="{{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].count * 100 / metrics.data.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count}}"
                             aria-valuemin="0"
                             aria-valuemax="{{metrics.data.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count}}"
                             ng-style="{width: ((metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].count * 100 / metrics.data.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count) | number:0) + '%'}">
                            {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].count}}
                        </div>
                    </div>
                </td>
                <td class="text-right">
                    {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].mean_rate
                    | number:2}}
                </td>
                <td class="text-right">
                    {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].m1_rate
                    |
                    number:2}}
                </td>
                <td class="text-right">
                    {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].m5_rate
                    |
                    number:2}}
                </td>
                <td class="text-right">
                    {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].m15_rate
                    | number:2}}
                </td>
            </tr>
            <tr>
                <td>Server error</td>
                <td>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-danger" role="progressbar"
                             aria-valuenow="{{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].count * 100 / metrics.data.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count}}"
                             aria-valuemin="0"
                             aria-valuemax="{{metrics.data.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count}}"
                             ng-style="{width: ((metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].count * 100 / metrics.data.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count) | number:0) + '%'}">
                            {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].count}}
                        </div>
                    </div>
                </td>
                <td class="text-right">
                    {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].mean_rate
                    | number:2}}
                </td>
                <td class="text-right">
                    {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].m1_rate
                    | number:2}}
                </td>
                <td class="text-right">
                    {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].m5_rate
                    | number:2}}
                </td>
                <td class="text-right">
                    {{metrics.data.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].m15_rate
                    | number:2}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3>Resource usage statistics (time in millisecond)</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Resource name</th>
                <th class="text-right">Count</th>
                <th class="text-right">Mean</th>
                <th class="text-right">Min</th>
                <th class="text-right">p50</th>
                <th class="text-right">p75</th>
                <th class="text-right">p95</th>
                <th class="text-right">p99</th>
                <th class="text-right">Max</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(k, v) in metrics.stats.resource">
                <td>{{k}}</td>
                <td class="text-right">{{v.count}}</td>
                <td class="text-right">{{v.mean * 1000 | number:0}}</td>
                <td class="text-right">{{v.min * 1000 | number:0}}</td>
                <td class="text-right">{{v.p50 * 1000 | number:0}}</td>
                <td class="text-right">{{v.p75 * 1000 | number:0}}</td>
                <td class="text-right">{{v.p95 * 1000 | number:0}}</td>
                <td class="text-right">{{v.p99 * 1000 | number:0}}</td>
                <td class="text-right">{{v.max * 1000 | number:0}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3 ng-show="metrics.data.gauges['HikariPool-0.pool.TotalConnections'].value > 0">DataSource statistics</h3>

    <div class="table-responsive" ng-show="metrics.data.gauges['HikariPool-0.pool.TotalConnections'].value > 0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Datasource usage
                    ({{metrics.data.gauges['HikariPool-0.pool.ActiveConnections'].value}} /
                    {{metrics.data.gauges['HikariPool-0.pool.TotalConnections'].value}})
                </th>
                <th class="text-right">Count</th>
                <th class="text-right"> Mean</th>
                <th class="text-right">Min</th>
                <th class="text-right">50</th>
                <th class="text-right">75</th>
                <th class="text-right">95</th>
                <th class="text-right">99</th>
                <th class="text-right">Max</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="{{metrics.data.gauges['HikariPool-0.pool.ActiveConnections'].value | number:0}}"
                             aria-valuemin="0"
                             aria-valuemax="{{metrics.data.gauges['HikariPool-0.pool.TotalConnections'].value | number:0}}"
                             ng-style="{width: (metrics.data.gauges['HikariPool-0.pool.ActiveConnections'].value * 100 / metrics.data.gauges['HikariPool-0.pool.TotalConnections'].value | number:0) + '%'}">
                            {{metrics.data.gauges['HikariPool-0.pool.ActiveConnections'].value * 100 /
                            metrics.data.gauges['HikariPool-0.pool.TotalConnections'].value | number:0}}%
                        </div>
                    </div>
                </td>
                <td class="text-right">{{metrics.data.histograms['HikariPool-0.pool.Usage'].count}}</td>
                <td class="text-right">{{metrics.data.histograms['HikariPool-0.pool.Usage'].mean | number:2}}</td>
                <td class="text-right">{{metrics.data.histograms['HikariPool-0.pool.Usage'].min | number:2}}</td>
                <td class="text-right">{{metrics.data.histograms['HikariPool-0.pool.Usage'].p50 | number:2}}</td>
                <td class="text-right">{{metrics.data.histograms['HikariPool-0.pool.Usage'].p75 | number:2}}</td>
                <td class="text-right">{{metrics.data.histograms['HikariPool-0.pool.Usage'].p95 | number:2}}</td>
                <td class="text-right">{{metrics.data.histograms['HikariPool-0.pool.Usage'].p99 | number:2}}</td>
                <td class="text-right">{{metrics.data.histograms['HikariPool-0.pool.Usage'].max | number:2}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- Modal used to display the threads dump -->
<div id="threadDump" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Threads dump</h4>
            </div>
            <div class="modal-body well">
                <span class="label label-primary" ng-click="threadDumpFilter = {}">ALL<span class="badge">{{threadDumpAll}}</span></span>
                &nbsp;
                <span class="label label-success" ng-click="threadDumpFilter = {threadState: 'RUNNABLE'}">Runable&nbsp;
                    <span class="badge">{{threadDumpRunnable}}</span></span>&nbsp;
                <span class="label label-info" ng-click="threadDumpFilter = {threadState: 'WAITING'}">Waiting&nbsp;<span
                        class="badge">{{threadDumpWaiting}}</span></span>&nbsp;
                <span class="label label-warning" ng-click="threadDumpFilter = {threadState: 'TIMED_WAITING'}">Timed waiting&nbsp;<span
                        class="badge">{{threadDumpTimedWaiting}}</span></span>&nbsp;
                <span class="label label-danger"
                      ng-click="threadDumpFilter = {threadState: 'BLOCKED'}">Blocked&nbsp;<span
                        class="badge">{{threadDumpBlocked}}</span></span>&nbsp;
                <div class="voffset2">&nbsp;</div>
                <div class="row" ng-repeat="(k, v) in threadDump | filter:threadDumpFilter">
                    <h5><span class="label" ng-class="getLabelClass(v.threadState)">&nbsp;</span>&nbsp;{{v.threadName}}
                        {{v.threadId}})</h5>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th class="text-right">Blocked Time</th>
                            <th class="text-right">Blocked Count</th>
                            <th class="text-right">Waited Time</th>
                            <th class="text-right">Waited Count</th>
                            <th>Lock Name</th>
                            <th>StackTrace</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{v.blockedTime}}</td>
                            <td>{{v.blockedCount}}</td>
                            <td>{{v.waitedTime}}</td>
                            <td>{{v.waitedCount}}</td>
                            <td>{{v.lockName}}</td>
                            <td>
                                <a ng-click="show = !show" data-placement="left">
                                    <span ng-show="!show">show</span>
                                    <span ng-show="show">hide</span>
                                </a>

                                <div class="popover left" ng-show="show">
                                    <div class="popover-title">
                                        <h4>Stacktrace
                                            <button type="button" class="close" ng-click="show = !show">&times;</button>
                                        </h4>
                                    </div>
                                    <div class="popover-content">
                                        <div ng-repeat="(stK, stV) in v.stackTrace">
                                            {{stV.className}}.{{stV.methodName}}({{stV.fileName}}:{{stV.lineNumber}})
                                            <span class="voffset1"></span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>