<div class="profile-body">
    <alert ng-if="profile.alert.active" type="{{profile.alert.type}}" close="profile.alert.active = false">
        <i class="fa" ng-class="profile.alert.type === 'success' ? 'fa-check': 'fa-warning'"></i>
        <strong ng-if="profile.alert.type === 'danger'">Erreur ! </strong>{{profile.alert.msg}}
    </alert>
    <div class="profile-bio panel panel-profile">
        <div class="panel-heading overflow-h">
            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-user"></i> Mon profil</h2>
        </div>

        <div class="panel-body">
            <form name="form" role="form" class="sky-form" ng-submit="profile.edit()" novalidate>
                <input type="hidden" name="id" ng-model="profile.myProfile.id"/>

                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <img src="/dist/img/default-profile.png" class="img-responsive md-margin-bottom-10"
                                 alt="Profile img"/>
                            <a class="btn-u btn-u-sm" href="#"><i class="fa fa-file-picture-o"></i> Modifier</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <section class="col col-6">
                                <label class="input"
                                       ng-class="{'state-error': (form.$submitted || form.login.$touched) && form.login.$invalid}">
                                    <i class="icon-prepend fa fa-sign-in"></i>
                                    <input id="login" name="login" class="form-control" type="text"
                                           placeholder="Login" ng-model="profile.myProfile.login"
                                           available-validator="/api/register/login" form-id="profile.myProfile.id"
                                           ng-model-options="{ updateOn: 'blur'}"/>

                                    <div ng-messages="(form.$submitted || form.login.$touched) && form.login.$error"
                                         class="note note-error">
                                        <div ng-message="available">Ce login est déjà utilisé.</div>
                                    </div>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input"
                                       ng-class="{'state-error': (form.$submitted || form.email.$touched) && form.email.$invalid}">
                                    <i class="icon-prepend fa fa-envelope"></i>
                                    <input id="email" name="email" class="form-control" type="email"
                                           placeholder="Email" ng-model="profile.myProfile.email"
                                           available-validator="/api/register/email" form-id="profile.myProfile.id"
                                           ng-model-options="{ updateOn: 'blur'}"/>

                                    <div ng-messages="(form.$submitted || form.email.$touched) && form.email.$error"
                                         class="note note-error">
                                        <div ng-message="email">Veuillez renseigner une adresse mail valide.</div>
                                        <div ng-message="available">Cette adresse mail est déjà utilisée.</div>
                                    </div>
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                    <i class="icon-prepend fa fa-user"></i>
                                    <input id="first-name" name="first-name" class="form-control margin-top-20"
                                           type="text"
                                           placeholder="Prénom" ng-model="profile.myProfile.firstName" maxlength="50"/>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                    <i class="icon-prepend fa fa-user"></i>
                                    <input id="last-name" name="last-name" class="form-control margin-top-20"
                                           type="text"
                                           placeholder="Nom" ng-model="profile.myProfile.lastName" maxlength="50"/>
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                    <i class="icon-prepend fa fa-phone"></i>
                                    <input id="phone" name="phone" class="form-control margin-top-20" type="text"
                                           placeholder="Téléphone" ng-model="profile.myProfile.phone"/>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                    <i class="icon-prepend fa fa-sitemap"></i>
                                    <input id="website" name="website" class="form-control margin-top-20" type="text"
                                           placeholder="Site web" ng-model="profile.myProfile.website"/>
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                    <i class="icon-prepend fa fa-bank"></i>
                                    <input id="company" name="company" class="form-control margin-top-20" type="text"
                                           placeholder="Entreprise" ng-model="profile.myProfile.company"/>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                    <i class="icon-prepend fa fa-map-marker"></i>
                                    <input id="location" name="location" class="form-control margin-top-20" type="text"
                                           placeholder="Localisation" ng-model="profile.myProfile.location"/>
                                </label>
                            </section>
                        </div>
                    </div>
                </div>
                <hr/>
                <button type="button" class="btn-u btn-u-default" ng-click="profile.reset()">
                    <i class="fa fa-undo"></i> Annuler
                </button>
                <button type="submit" class="btn-u pull-right"><i class="fa fa-edit"></i> Enregistrer</button>
            </form>
        </div>
    </div>
    <hr/>
    <div class="panel panel-profile">
        <div class="panel-heading overflow-h">
            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-user-secret"></i> Changer de mot de passe</h2>
        </div>
        <div class="panel-body">
            <form name="form" role="form" class="sky-form" ng-submit="profile.editPassword()" novalidate>
                <div ng-if="!profile.showChangeForm">
                    <div class="col-md-5 col-md-offset-2">
                        <section>
                            <label class="label">Vérifier le mot de passe actuel</label>
                            <label class="input"
                                   ng-class="{'state-error': (form.$submitted ||form.oldPassword.$touched) && form.oldPassword.$invalid}">
                                <i class="icon-prepend fa fa-lock"></i>
                                <input id="oldPassword" name="oldPassword" class="form-control" type="password"
                                       placeholder="Vérifier le mot de passe actuel" minlength="5" maxlength="100"
                                       ng-model="profile.password.oldPassword"
                                       ng-model-options="{ updateOn: 'blur'}"
                                       password-validator="api/account/valid_password"/>

                                <div ng-messages="(form.$submitted || form.oldPassword.$touched) && form.oldPassword.$error"
                                     class="note note-error">
                                    <div ng-message="match">Le mot de passe renseigné est incorrect</div>
                                    <div ng-message="minlength">Le mot de passe doit au minimum contenir 5 caractères.
                                    </div>
                                </div>
                            </label>
                        </section>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn-u pull-right margin-top-30" ng-click="profile.switch(form)">
                            <i class="fa fa-refresh"></i> Valider
                        </button>
                    </div>
                </div>
                <div ng-if="profile.showChangeForm">
                    <div class="col-md-10">
                        <section class="col col-6">
                            <label class="label">Mot de passe</label>
                            <label class="input"
                                   ng-class="{'state-error': (form.$submitted ||form.password.$touched) && form.password.$invalid}">
                                <i class="icon-prepend fa fa-lock"></i>
                                <input id="password" name="password" class="form-control" type="password"
                                       placeholder="Mot de passe" ng-model="profile.password.password" minlength="5"
                                       maxlength="100"/>

                                <div ng-messages="(form.$submitted || form.password.$touched) && form.password.$error"
                                     class="note note-error">
                                    <div ng-message="minlength">Le mot de passe doit au minimum contenir 5 caractères.
                                    </div>
                                </div>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Confirmation</label>
                            <label class="input"
                                   ng-class="{'state-error': (form.$submitted || form.confirmPassword.$touched) && form.confirmPassword.$invalid}">
                                <i class="icon-prepend fa fa-lock"></i>
                                <input id="confirm-password" name="confirmPassword" class="form-control"
                                       placeholder="Confirmation" type="password" maxlength="100"
                                       ng-model="profile.password.confirmPassword"
                                       compare-to-validator="profile.password.password"/>

                                <div ng-messages="(form.$submitted || form.confirmPassword.$touched) && form.confirmPassword.$error"
                                     class="note note-error">
                                    <div ng-message="compareTo">Les mots de passe ne correspondent pas.</div>
                                </div>
                            </label>
                        </section>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn-u pull-right margin-top-30">
                            <i class="fa fa-edit"></i> Changer
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
