<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="reg-page">
            <div class="reg-header">
                <h2>Création d'un compte utilisateur</h2>

                <p>Déjà utilisateur ? Cliquez <a href="#/login" class="color-green">Connexion</a> pour vous connecter.
                </p>
            </div>
            <form class="sky-form">
                <label class="input">
                    <i class="icon-prepend fa fa-sign-in"></i>
                    <i class="icon-append fa fa-asterisk"></i>
                    <input id="login" name="login" class="form-control margin-bottom-20" type="text"
                           placeholder="Login" ng-model="register.user.login"/>
                </label>

                <div class="row">
                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-prepend fa fa-user"></i>
                            <input id="first-name" name="first-name" class="form-control margin-bottom-20" type="text"
                                   placeholder="Prénom" ng-model="register.user.firstName"/>
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-prepend fa fa-user"></i>
                            <input id="last-name" name="last-name" class="form-control margin-bottom-20" type="text"
                                   placeholder="Nom" ng-model="register.user.lastName"/>
                        </label>
                    </section>
                </div>

                <label class="input">
                    <i class="icon-prepend fa fa-envelope"></i>
                    <i class="icon-append fa fa-asterisk"></i>
                    <input id="email" name="email" class="form-control margin-bottom-20" type="text"
                           placeholder="Email" ng-model="register.user.email"/>
                </label>

                <div class="row">
                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-prepend fa fa-lock"></i>
                            <i class="icon-append fa fa-asterisk"></i>
                            <input id="password" name="password" class="form-control margin-bottom-20" type="text"
                                   placeholder="Mot de passe" ng-model="register.user.password"/>
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-prepend fa fa-lock"></i>
                            <i class="icon-append fa fa-asterisk"></i>
                            <input id="confirm-password" name="confirm-password" class="form-control margin-bottom-20"
                                   placeholder="Confirmation" type="text" ng-model="register.user.confirmPassword"/>
                        </label>
                    </section>
                </div>
            </form>

            <hr>

            <div class="row">
                <div class="col-lg-8 sky-form">
                    <label class="checkbox">
                        <input type="checkbox"><i></i>
                        Lire les <a href="#/terms" class="color-green">conditions générales d'utilisation</a>
                    </label>
                </div>
                <div class="col-lg-4 text-right">
                    <button class="btn-u" type="submit"><i class="fa fa-plus"></i> Créer le compte</button>
                </div>
            </div>

        </div>
    </div>
</div>