<div class="profile">
    <div class="container content">
        <div class="row">
            <div class="col-md-3 md-margin-bottom-40">
                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item">
                        <a href="account"><i class="fa fa-user"></i> Profil</a>
                    </li>
                    <li class="list-group-item">
                        <a href="profile_me.html"><i class="fa fa-envelope"></i> Notifications</a>
                    </li>
                    <li class="list-group-item">
                        <a href="profile_users.html"><i class="fa fa-users"></i> Amis</a>
                    </li>
                    <li class="list-group-item">
                        <a href="profile_users.html"><i class="fa fa-pencil-square"></i> Projets</a>
                    </li>
                    <li class="list-group-item">
                        <a href="profile_projects.html"><i class="fa fa-cogs"></i> Paramètres avancés</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9" ui-view="settings">

            </div>
        </div>
    </div>
</div>
