<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <Pattern>[%p] %c - %m%n</Pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="ch.qos.logback" level="WARN">
    </logger>

    <logger name="org.apache" level="WARN">
    </logger>

    <logger name="org.hibernate" level="WARN">
    </logger>

    <logger name="com.zaxxer.hikari" level="WARN">
    </logger>

    <logger name="org.springframework" level="WARN">
    </logger>

    <logger name="org.springframework.web" level="WARN">
    </logger>

    <logger name="org.springframework.security" level="DEBUG">
    </logger>

    <logger name="org.springframework.cache" level="WARN">
    </logger>

</configuration>